canvas {
  height: 100% !important;
}

.bar-chart-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.chartjs-render-monitor {
  background-color: transparent !important;
}
